@media only screen and (max-width: 70em) {
    html {
      font-size: 50%;
    }
  }
  
  @media only screen and (max-width: 69em) {
    html {
      font-size: 45%;
    }
  }
  
  @media only screen and (max-width: 52em) {
    html {
      font-size: 40%;
    }
  }
  
  @media only screen and (max-width: 42em) {
    html {
      font-size: 25%;
    }
  }
  
  @media only screen and (max-width: 25em) {
    html {
      font-size: 20%;
    }
  }